{% extends "base.html" %}
{% block title %}Address {{ this_address }}{{ super() }}{% endblock %}

{% block head %}{{ super() }}{% endblock %}

{% block additional_text %}Address {{ this_address }}{% endblock %}

{% block the_form %}{% endblock %}

{% block start_body %}{{ super() }}{% endblock %}

{% block additional_body %}
            <p>
                Balance: {{ format_eight_zeroes(total_balance) }} {{ which_currency }}<br />
                Transactions in: {{ the_address_summary.transactions_in }}<br />
                Received: {{ total_received }} {{ which_currency }}<br />
                Transactions out: {{ the_address_summary.transactions_out }}<br />
                Sent: {{ total_sent }} {{ which_currency }}<br />
            </p>
            <h3>Transactions</h3>
            <table class="table addrhist">
                <tr><th>Transaction</th><th>Block</th><th>Time (UTC)</th><th>Amount</th><th>Balance</th><th>Currency</th></tr>
                {% for each in address_info %}
                <tr>
                    <td><a href="/tx/{{ each.transaction }}">{{ each.transaction[0:10] }}...</a></td>
                    <td><a href="/block/{{ each.block_hash }}">{{ each.block_height }}</a></td>
                    <td>{{ format_time(each.the_time) }}</td>
                    <td>{{ format_eight_zeroes(each.amount) }}</td>
                    <td>{{ format_eight_zeroes(each.balance) }}</td>
                    <td>{{ which_currency }}</td>
                </tr>
                {% endfor %}
            </table>
{% endblock %}

{% block footer %}{{ super() }}{% endblock %}