{% extends "base.html" %}
{% block title %}Index{{ super() }}{% endblock %}

{% block head %}{{ super() }}{% endblock %}

{% block additional_text %}{% if config.COIN_NAME != "CryptocurrencyExplorerCoin" %}{{ config.COIN_NAME }} Explorer{% else %}Cryptocurrency Explorer{% endif %}{% endblock %}

{% block the_form %}{% endblock %}

{% block start_body %}{{ super() }}{% endblock %}

{% block additional_body %}
            <p>Supported APIs:</p>
            <ul>
                <li><a href="/api/addressbalance/">/api/addressbalance/ADDRESS</a> - Amount ever received minus amount ever sent for the specific address</li>
                <li><a href="/api/blockcount/">/api/blockcount/</a> - The current block number</li>
                <li><a href="/api/confirmations/">/api/confirmations/BLOCK_HASH .. OR .. /api/confirmations/BLOCK HEIGHT</a> - Total confirmations for the block hash/block height</li>
                <li><a href="/api/connections/">/api/connections/</a> - The number of connections to other nodes</li>
                <li><a href="/api/lastdifficulty/">/api/lastdifficulty/</a> - Last solved block's difficulty</li>
                <li><a href="/api/mempool/">/api/mempool/</a> - View the current mempool</li>
                <li><a href="/api/peers/">/api/peers/</a>- Current peers connected to this instance</li>
                <li><a href="/api/receivedbyaddress/">/api/receivedbyaddress/ADDRESS</a> - Amount ever received by a given address</li>
                <li><a href="/api/richlist/">/api/richlist/</a> - Addresses with the most coins</li>
                <li><a href="/api/sentbyaddress/">/api/sentbyaddress/ADDRESS</a> - Amount ever sent from a given address</li>
                <li><a href="/api/totalcoins/">/api/totalcoins</a> - Amount of all coins on the network</li>
                <li><a href="/api/totaltransactions/">/api/totaltransactions/</a> - Total number of all transactions</li>
                <li><a href="/api/validateaddress/">/api/validateaddress/ADDRESS</a> - Checks an address for validity.</li>
            </ul>
{% endblock %}

{% block footer %}{{ super() }}{% endblock %}