{% extends "base.html" %}
{% block title %}Block{{ super() }}{% endblock %}

{% block head %}
{{ super() }}
{% endblock %}

{% block additional_text %}<a href="/block/{{ block_hash }}">{{ config.COIN_NAME }}</a> {{ block_height }}{% endblock %}

{% block the_form %}
{% endblock %}

{% block start_body %}
{{ super() }}
{% endblock %}

{% block additional_body %}
            <p>
                Hash: {{ block_hash }}<br />
                {% if previous_block_hash is not none %}
                Previous Block: <a href="/block/{{ previous_block_hash }}">{{ previous_block_hash }}</a><br />
                {% endif %}
                {% if next_block_hash is not none %}
                Next Block: <a href="/block/{{ next_block_hash }}">{{ next_block_hash }}</a><br />
                {% endif %}
                Height: {{ block_height }}<br />
                Version: {{ version }}<br />
                Transaction Merkle Root: {{ merkle_root }}<br />
                Time: {{ time }} ({{ formatted_time }})<br />
                Difficulty: {{ difficulty }} (Bits: {{ bits }})<br />
                Cumulative Difficulty: {{ cumulative_difficulty }}<br />
                Nonce: {{ nonce }}<br />
                Transactions: {{ the_transactions | length }}<br />
                Value out: {{ value_out }}<br />
                Transaction Fees: {{ formatted_transaction_fees }}<br />
            </p>
            <h3>Transactions</h3>
            <table class="table"><tr><th>Transaction</th><th>Fee</th><th>Size (kB)</th><th>From (amount)</th><th>To (amount)</th></tr>
                {% for each in the_transactions %}
                <tr><td><a href="/tx/{{ each.txid }}">{{ each.txid[0:10] }}...</a></td><td>{% if each.fee == 0 %}0.00000000{% else %}{{ each.fee }}{% endif %}</td><td>{{ each.size / 1000 }}</td>{% if loop.index0 == 0 %}<td>Generation: {{ each.total_out - transaction_fees }} + {{ formatted_transaction_fees }} total fees</td>{% else %}<td><a href="../address/ADDRESS">ADDRESS</a>: TODO</td>{% endif %}<td><a href="../address/ADDRESS">ADDRESS</a>: TODO</td></tr>
                {% endfor %}
            </table>
{% endblock %}

{% block footer %}{{ super() }}{% endblock %}
