{% extends "base.html" %}
{% block title %}Block{{ super() }}{% endblock %}

{% block head %}
{{ super() }}
{% endblock %}

{% block additional_text %}<a href="/block/{{ block_hash }}">{{ config.COIN_NAME }}</a> {{ block_height }}{% endblock %}

{% block the_form %}
{% endblock %}

{% block start_body %}
{{ super() }}
{% endblock %}

{% block additional_body %}
            <p>
                Hash: {{ block_hash }}<br />{% if previous_block_hash is not none %}
                Previous Block: <a href="/block/{{ previous_block_hash }}">{{ previous_block_hash }}</a><br />{% endif %}

                {% if next_block_hash is not none %}
                Next Block: <a href="/block/{{ next_block_hash }}">{{ next_block_hash }}</a><br />{% endif %}

                Height: {{ block_height }}<br />
                Version: {{ version }}<br />
                Transaction Merkle Root: {{ merkle_root }}<br />
                Time: {{ time }} ({{ formatted_time }})<br />
                Difficulty: {{ difficulty }} (Bits: {{ bits }})<br />
                Cumulative Difficulty: {{ cumulative_difficulty }}<br />
                Nonce: {{ nonce }}<br />
                Transactions: {{ total_transactions }}<br />
                Value out: {{ value_out }}<br />
                Transaction Fees: ?<br />
            </p>
            <h3>Transactions</h3>
            <table class="table"><tr><th>Transaction</th><th>Fee</th><th>From (amount)</th><th>To (amount)</th></tr>
                {% for each in range(0, total_transactions) %}
                <tr><td><a href="../tx/TRANSACTION_HASH">FIRST TEN OF TRANSACTION HASH...</a></td><td>TODO</td><td>TODO</td><td><a href="../address/ADDRESS">ADDRESS</a>: TODO<br /></td></tr>
                {% endfor %}
            </table>
{% endblock %}

{% block footer %}{{ super() }}{% endblock %}