{% extends "base.html" %}
{% block title %}Index{{ super() }}{% endblock %}

{% block head %}
{{ super() }}
{% endblock %}

{% block additional_text %}{{ config.COIN_NAME }}{% endblock %}

{% block the_form %}
{{ super() }}
{% endblock %}

{% block start_body %}
{{ super() }}
{% endblock %}

{% block additional_body %}
            <table class="table table-striped table-hover"><tr><th>Block</th><th>Time (UTC)</th><th>Transactions</th><th>Value Out</th><th>Difficulty</th><th>Outstanding</th><th>Average Age</th></tr>
                {% for each in front_page_blocks %}
                 <tr><td><a href="/block/{{ each.block_hash }}">{{ each.height }}</a></td><td>{{ format_time(each.time) }}</td><td>{{ each.transactions }}</td><td>{{ each.value_out }}</td><td>{{ each.difficulty }}</td><td>?</td><td>?</td></tr>
                {% endfor %}
            </table>
{% endblock %}

{% block footer %}{{ super() }}{% endblock %}