{% extends "base.html" %}
{% block title %}Index{{ super() }}{% endblock %}

{% block head %}
{{ super() }}
{% endblock %}

{% block additional_text %}{{ config.COIN_NAME }}{% endblock %}

{% block the_form %}
{{ super() }}
{% endblock %}

{% block start_body %}
{{ super() }}
{% endblock %}

{% block additional_body %}
    <p class="pull-right">{% if (hi + count) > latest_block %}<<{% else %}<a href="?hi={{ latest_block }}&count={{ count }}"><<</a>{% endif %} {% if (hi + count) > latest_block %}<{% else %}<a href="?hi={{ hi + count }}&count={{ count }}"><</a>{% endif %} {% if (hi-count) <= 0 %}>{% else %}<a href="?hi={{ hi - count }}&count={{ count }}">></a>{% endif %} {% if (count - hi) >= 0 %}>>{% else %}<a href="?hi={{ count - 1 }}&count={{ count }}">>></a>{% endif %} {% if count == 50 %}50{% else %}<a href="?count=50&hi={{ hi }}">50</a>{% endif %} {% if count == 125 %}125{% else %}<a href="?count=125&hi={{ hi }}">125</a>{% endif %} {% if count == 250 %}250{% else %}<a href="?count=250&hi={{ hi }}">250</a>{% endif %} {% if count == 500 %}500{% else %}<a href="?count=500&hi={{ hi }}">500</a>{% endif %}  <a href="/">Search</a></p>
            <table class="table table-striped table-hover"><tr><th>Block</th><th>Time (UTC)</th><th>Transactions</th><th>Value Out</th><th>Difficulty</th><th>Outstanding</th><th>Average Age</th></tr>
                {% for each in front_page_blocks %}
                 <tr><td><a href="/block/{{ each.hash }}">{{ each.height }}</a></td><td>{{ format_time(each.time) }}</td><td>{{ each.transactions }}</td><td>{{ each.value_out }}</td><td>{{ each.difficulty }}</td><td>?</td><td>?</td></tr>
                {% endfor %}
            </table>
    <p class="pull-right">{% if (hi + count) > latest_block %}<<{% else %}<a href="?hi={{ latest_block }}&count={{ count }}"><<</a>{% endif %} {% if (hi + count) > latest_block %}<{% else %}<a href="?hi={{ hi + count }}&count={{ count }}"><</a>{% endif %} {% if (hi-count) <= 0 %}>{% else %}<a href="?hi={{ hi - count }}&count={{ count }}">></a>{% endif %} {% if (count - hi) >= 0 %}>>{% else %}<a href="?hi={{ count - 1 }}&count={{ count }}">>></a>{% endif %} {% if count == 50 %}50{% else %}<a href="?count=50&hi={{ hi }}">50</a>{% endif %} {% if count == 125 %}125{% else %}<a href="?count=125&hi={{ hi }}">125</a>{% endif %} {% if count == 250 %}250{% else %}<a href="?count=250&hi={{ hi }}">250</a>{% endif %} {% if count == 500 %}500{% else %}<a href="?count=500&hi={{ hi }}">500</a>{% endif %}  <a href="/">Search</a></p>
{% endblock %}

{% block footer %}{{ super() }}{% endblock %}