[Unit]
Description=Cryptocurrency Explorer
After=network.target

[Service]
User=change_this
Group=change_this
WorkingDirectory=/home/change_this/CryptocurrencyExplorer/Explorer/
ExecStart=/home/change_this/venv/bin/gunicorn -k gevent app:application
Restart=on-failure

[Install]
WantedBy=multi-user.target