[Unit]
Description=Cryptocurrency Explorer Cron
After=network.target

[Service]
User=change_this
Group=change_this
Type=simple
WorkingDirectory=/home/change_this/CryptocurrencyExplorer/Explorer
ExecStart=/home/change_this/venv/bin/python /home/change_this/CryptocurrencyExplorer/Explorer/cronjob.py
Restart=always
RestartSec=10
# If you want to log stdout, disable this:
StandardOutput=null

[Install]
WantedBy=multi-user.target