[Unit]
Description=Woodcoin Daemon
After=network.target

[Service]
ExecStart=/home/change_this/woodcoind
ExecStartPre=/bin/sleep 10
Type=forking
Restart=on-failure
User=change_this
Group=change_this
PrivateTmp=true
NoNewPrivileges=true
PrivateDevices=true
MemoryDenyWriteExecute=true

[Install]
WantedBy=multi-user.target